body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div {
  margin: 20px;
}
img {
  width: 50em;
}
.alternar_img {
  visibility: hidden;
}

button {
  background-color: aquamarine;
  border-radius: 3px;
  font-size: 11px;
}
